@keyframes getBigger {
  from {
    clip-path: polygon(0% 70%, 100% 30%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(100% 70%, 100% 100%, 25% 100%);
  }
}

.bottomRectangle {
  height: 30vh;
  width: 100vw;
  background-color: green;
  clip-path: polygon(0% 70%, 100% 30%, 100% 100%, 0% 100%);
  transition: clip-path 1s;
}

.bottomRectangle:hover {
  clip-path: polygon(100% 70%, 100% 70%, 100% 100%, 25% 100%);
}
